.Top
  .Top-Banner
    <a href="groups/1/messages">
    <img src="https://i.gyazo.com/b535e7618fbf09da14055eb7651dc09e.jpg" alt="Image from Gyazo" class="BannerA"/></a>
    <a href="groups/14/messages">
    <img src="https://i.gyazo.com/645546b6f6930a7156f522f56ed84542.jpg" alt="Image from Gyazo" class="BannerB"/></a>
    <a href="groups/3/messages">
    <img src="https://i.gyazo.com/98c14323c8290219d65cf98358c68d2c.jpg" alt="Image from Gyazo" class="BannerC"/></a>
    <a href="groups/4/messages">
    <img src="https://i.gyazo.com/cc1738829a45f0e28bdc54029401aef5.jpg" alt="Image from Gyazo" class="BannerD"/></a>
    <a href="groups/5/messages">
    <img src="https://i.gyazo.com/00ae98d6e90d391eea35492c3d163f40.png" alt="Image from Gyazo" class="BannerE"/></a>
    <a href="groups/6/messages">
    <img src="https://i.gyazo.com/320de3812f1075bf3dc3cf3103526fd1.jpg" alt="Image from Gyazo" class="BannerF"/></a>
    <a href="groups/7/messages">
    <img src="https://i.gyazo.com/266c4c8e12ec31f990ccabde50bc2468.jpg" alt="Image from Gyazo" class="BannerG"/></a>
    <a href="groups/8/messages">
    <img src="https://i.gyazo.com/7cb53360ff9d9b1c4d5b666c22a2ef91.png" alt="Image from Gyazo" class="BannerH"/></a>
    <a href="groups/9/messages">
    <img src="https://i.gyazo.com/9bba3890943e6bb48dac55952b46814f.png" alt="Image from Gyazo" class="BannerI"/></a>
    <a href="groups/10/messages">
    <img src="https://i.gyazo.com/0768152300aa65ae6769bd42d1b1a53c.jpg" alt="Image from Gyazo" class="BannerJ"/></a>
    <a href="groups/11/messages">
    <img src="https://i.gyazo.com/bfad9913dab3f3075882e93ff5e53cfb.jpg" alt="Image from Gyazo" class="BannerK"/></a>
    <a href="groups/12/messages">
    <img src="https://i.gyazo.com/80c524c8085c331fa2b781b057b94d05.jpg" alt="Image from Gyazo" class="BannerL"/></a>
